networks:
  nickatcher-network:
    driver: bridge

services:
  nickatcher-gluetun:
    image: qmcgaw/gluetun
    container_name:  nickatcher-gluetun
    networks:
      - nickatcher-network
    cap_add:
      - NET_ADMIN
    volumes:
      - ./gluetun:/gluetun
    env_file:
      - ./secrets/gluetun.env
    environment:
      - SERVER_REGIONS="CA Vancouver"
      - HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH=/gluetun-auth.toml
    ports:
      - 4568:4568
    restart: always

  nickatcher-slskd:
    image: slskd/slskd:latest
    container_name: nickatcher-slskd
    network_mode: container:nickatcher-gluetun
    user: 1000:100
    environment:
      - SLSKD_DISK_LOGGER=true
      - SLSKD_HTTP_PORT=4568
      - SLSKD_NO_AUTH=true
      - SLSKD_ROOMS=! ! LGBTQ+ ! !
      - SLSKD_SLSK_DESCRIPTION=nothing to see here
      - SLSKD_SWAGGER=true
      - DEVICE=cpu
      - EXECUTOR_THREADS=4
    env_file:
      - ./secrets/slskd.env
    volumes:
      - ./slskd:/app
    depends_on:
      - nickatcher-gluetun
    restart: always

  nickatcher:
    build: nickatcher
    container_name: nickatcher
    networks:
      - nickatcher-network
    environment:
      - SLSKD_HTTP_PORT=4568
      - SLSKD_ROOMS=! ! LGBTQ+ ! !
      - LOG_LEVEL=INFO
      - MIN_CHUNKS=10
      - POSTGRES_USER=nickatcher
      - POSTGRES_DB=messages
      - POSTGRES_PORT=5432
      - ARTIFACTS_PATH=/data/artifacts.pkl
      - RECOMPUTE_LDA_ON_START=true
      - ARTIFACT_REFRESH_HOURS=24
    env_file:
      - ./secrets/nickatcher.env
    volumes:
      - logs:/logs
      - model_data:/data
    depends_on:
      - nickatcher-slskd
      - nickatcher-db
    restart: always

  nickatcher-db:
    image: postgres:16-alpine
    container_name: nickatcher-db
    networks:
      - nickatcher-network
    restart: unless-stopped
    environment:
      - POSTGRES_USER=nickatcher
      - POSTGRES_DB=messages
    env_file:
      - ./secrets/db.env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  model_data:
  logs:
